:root {
  --color-body: #4b526d;
  --fondo-pantalla: #282c30;
  --color-fuente: #d5d7d9;
  --color-numeros: #eff1f2;
  --color-tarjetas: #16171b;
  --color-botones: #ff6501;
  --color-megusta: #f50304;
  --color-gris: #343a3f;
  --color-borde-tarjeta: rgb(117, 117, 117);
}

body {
  background-color: var(--color-body) !important;
  font-family: "Poppins" !important;
}

.pantallas {
  background-color: var(--fondo-pantalla);
  width: 340px !important;
  height: 720px;
  margin-top: 10px;
  border-radius: 30px;
  color: var(--color-fuente);
  position: relative;
}

/*Primera pantalla*/
.hora_y_señal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
}

.hora,
.señal {
  padding: 3px;
}

.hora span {
  font-size: 12px;
}

.señal img {
  width: 17px;
}

.barras_señal {
  height: 12px;
}

.notificaciones {
  display: flex;
  justify-content: space-between;
}

.notificaciones img {
  width: 20px;
}

.titulo {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}

.botones_buscar {
  display: flex;
  flex-direction: row;
}

.buscar {
  border: none;
  border-radius: 8px;
  width: 240px !important;
  height: 43px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buscar span {
  color: var(--color-gris);
  font-weight: bolder;
  font-size: small;
}

.buscar img {
  width: 25px;
  margin-left: 3px;
  margin-right: 8px;
}

.buscar img,
.buscar span {
  opacity: 50%;
}

.boton_polea {
  display: flex;
  flex-direction: row;
  width: 43px !important;
  height: 43px;
  margin-left: 10px;
  background-color: var(--color-botones);
  border: none;
  border-radius: 8px;
}

.boton_polea img {
  width: 23px;
  margin-top: 5px;
  margin-right: 20px !important;
}

.polea_a_la_derecha {
  position: absolute; 
  margin-left: 9px;
}

.parrafo {
  margin-top: 25px;
  font-weight: bolder;
}

.contenedor_tarjetas {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*Tarjetas*/
.tarjeta {
  background-color: var(--color-tarjetas);
  width: 138px;
  height: 170px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0.2px solid rgba(114, 114, 114, 0.548);
  z-index: 1;
}

.borde {
  border: 0.2px solid var(--color-borde-tarjeta);
}

.imagen {
  display: flex;
}

.imagen_comida {
  margin-left: 23px;
  margin-top: 7px;
  width: 88px;
}

.agrandar {
  width: 95px;
}

.corazon {
  width: 10px;
  margin-left: 5px;
}

.nombre {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.nombre h6 {
  font-size: 13px;
  font-weight: bolder;
}

.precio {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.precio div p {
  font-size: 15px;
  font-weight: 800;
  color: var(--color-numeros);
}

.mas {
  width: 20px;
}
/*Fin tarjetas*/

.boton_mas {
  position: absolute;
  width: 50px;
  z-index: 6;
  margin-left: 121px;
  top: 627px;
}

.iconos_cuenta {
  background-color: rgba(68, 68, 68, 0.582);
  width: 340px;
  height: 58px;
  margin-top: 22px;
  border-end-end-radius: 30px;
  border-end-start-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.iconos_cuenta img {
  width: 23px;
}

.iconos_cuenta .col-2 {
  display: flex;
  justify-content: center;
}
/*Fin primera pantalla*/

/*Segunda pantalla*/
.orden {
  display: flex;
  justify-content: space-around;
  margin-top: 20px !important;
}

.nombre_orden {
  display: flex;
  justify-content: center;
}

.nombre_orden h5 {
  font-weight: bold;
}

.icono_atras img,
.icono_cerrar img {
  width: 18px;
}

.precio_orden {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 15px;
}

.precio_orden h3 {
  font-weight: 800 !important;
  color: var(--color-numeros);
}

.imagen_fried_rice {
  display: flex;
  justify-content: center;
}

.imagen_fried_rice img {
  width: 220px;
  border-radius: 100px;
}

.contenedor_input_mas_y_menos {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.input_mas_y_menos {
  display: flex;
  flex-direction: row;
}

.input_mas_y_menos button {
  background-color: transparent;
  border: 0.2px solid var(--color-borde-tarjeta);
  color: var(--color-numeros);
  font-size: 13px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bordear_izquierda {
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}

.bordear_derecha {
  border-top-right-radius: 5px;
  border-end-end-radius: 5px;
}

.info_nutricional {
  margin-top: 12px;
}

.info_nutricional .col-3,
.info_nutricional .col-4,
.info_nutricional .col-5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_nutricional span {
  font-size: 11px;
  margin-left: 1px;
}

.info_nutricional img {
  width: 15px;
}

.agregar {
  display: flex;
  justify-content: center;
}

.agregar button {
  border: none;
  background-color: var(--color-botones);
  border-radius: 20px;
  margin-top: 30px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-fuente);
  font-weight: bold;
  padding: 8px;
}

.texto {
  font-weight: bolder;
  margin-top: 50px;
}

/*Tarjetitas*/
.contenedor_tarjetitas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tarjetita {
  width: 90px;
  height: 105px;
  background-color: var(--color-gris);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0.2px solid var(--color-borde-tarjeta);
}

.tarjetita_imagen {
  width: 60px;
  border-radius: 80px;
  position: absolute;
  z-index: 6;
  margin-left: 14px;
  top: 585px;
}

.tarjetita_nombre {
  font-size: 10px;
  margin-top: 50px;
  margin-bottom: 15px;
}

.tarjetita_precio {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
  width: 90px;
  margin: 0;
}

.tarjetita_precio .col-1 {
  color: var(--color-numeros);
}

.tarjetita_precio img {
  width: 10px;
}
/*Fin tarjetitas*/
/*Fin segunda pantalla*/

/*Tercera pantalla*/
/*Tarjetas horizontales*/
.contenedor_tarjeta_horizontal {
  width: 300px !important;
  height: 95px;
  background-color: var(--color-tarjetas);
  border-radius: 8px;
  border: 0.2px solid var(--color-borde-tarjeta);
  margin-top: 15px;
}

.tarjeta_horizontal {
  display: flex;
  align-items: center;
}

.tarjeta_horizontal_imagen {
  width: 75px;
  margin-left: 5px;
}

.tarjeta_horizontal .col-6 {
  padding: 10px;
}

.tarjeta_horizontal_nombre {
  height: 40px;
}

.tarjeta_horizontal_nombre span {
  font-size: small;
  font-weight: bold;
}

.tarjeta_horizontal_precio {
  height: 40px;
}

.tarjeta_horizontal_precio p {
  font-weight: bold;
  color: var(--color-numeros);
}

.boton_input {
  display: flex;
  flex-direction: column;
}

.boton_input button {
  background-color: transparent;
  border: 0.2px solid var(--color-borde-tarjeta);
  color: var(--color-numeros);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 25px;
  font-size: 13px;
}

.bordear_arriba {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bordear_abajo {
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}

.boton_para_arriba {
  margin-bottom: 5px;
}

.boton_cortado {
  margin-left: 10px;
  margin-bottom: 4px;
}

.cortada {
  position: absolute;
  left: 1px;
  width: 250px !important;
  border-left: none;
  border-top-left-radius: none;
  border-end-start-radius: none;
}

.tarjeta_horizontal_imagen_cortada {
  width: 52px;
  position: absolute;
  left: 1px;
  top: 5px;
}

.basurero_cortado {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 95px;
  background-color: var(--color-tarjetas);
  border-top-left-radius: 8px;
  border-end-start-radius: 8px;
  border-top: 0.2px solid var(--color-borde-tarjeta);
  border-left: 0.2px solid var(--color-borde-tarjeta);
  border-bottom: 0.2px solid var(--color-borde-tarjeta);
  margin-top: 15px;
  position: absolute;
  right: 1px;
}

.basurero_cortado img {
  width: 45px;
  height: 40px;
  margin-left: 5px;
}

.separador_tarjeta_horizontal {
  height: 95px;
  background-color: transparent;
  margin-top: 20px;
}
/*Fin tarjetas horizontales*/

.contenedor_total {
  background-color: var(--color-gris);
  width: 300px !important;
  height: 275px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 25px;
}

.row_separadora {
  height: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 10px !important;
  border-bottom: 0.2px solid rgb(71, 71, 71);
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.subrayado {
  border-bottom: 0.2px solid var(--color-borde-tarjeta);
}

.total_nombre {
  font-size: 12px;
  color: var(--color-borde-tarjeta);
  filter: brightness(10);
  padding-left: 0 !important;
}

.total_precio {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  padding-right: 0 !important;
  color: var(--color-numeros);
}

.total_final {
  display: flex;
  justify-content: space-between;
  margin-top: 10px !important;
}

.total_nombre_final {
  font-size: 13px;
  font-weight: bold;
}

.total_precio_final {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-numeros);
}

.boton_checkout {
  display: flex;
  justify-content: center;
}

.boton_checkout button {
  border: none;
  background-color: var(--color-botones);
  border-radius: 20px;
  color: var(--color-fuente);
  padding: 8px;
  width: 210px;
  margin-top: 15px;
}
/*Fin tercera pantalla*/
